.layout-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
  //border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7; /* 배경 색상 */
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* 기본 폰트 크기 설정 */
}

/* 반응형 디자인: 화면 크기에 따라 레이아웃 너비 조정 */
@media (max-width: 640px) {
  .layout-container {
    width: 100%;
    padding: 8px;
  }
}

@media (min-width: 768px) {
  .layout-container {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .layout-container {
    width: 60%;
  }
}
