.post-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  grid-column: span 2;
  grid-row: span 10;
}

.post-card.large {
  grid-column: span 2;
  grid-row: span 10;
}

.post-card.medium {
  grid-column: span 2;
  grid-row: span 7;
}

.post-card.small {
  grid-column: span 2;
  grid-row: span 5;
}

.no-posts-message {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px dashed #ddd;
  border-radius: 10px;
  text-align: center;
  color: #aaa;
  font-size: 16px;
}

.no-posts-message p {
  margin: 0;
}

.post-card-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* 이미지를 카드 크기에 맞게 자동으로 자르기 */
  border-radius: 8px;
  margin-top: 10px;
}
