.postItem {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postItem.xl {
  width: 100%; /* 카드의 너비를 80%로 설정 (필요에 따라 비율 조정) */
  aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
  margin: 0 auto; /* 중앙 정렬 */
  max-height: 280px;
}

/* M 사이즈: 직사각형 1개가 한 줄 */
.postItem.m {
  width: 100%; /* 한 카드가 전체 너비 차지 */
  aspect-ratio: 3/ 1; /* 직사각형 모양 */
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
}

/* L 사이즈: 세로가 조금 더 짧은 직사각형 */
.postItem.l {
  width: 100%; /* 한 카드가 전체 너비 차지 */
  aspect-ratio: 2 / 3; /* 세로 직사각형 모양 */
  max-height: 200px;
}
.postItem.m {
  width: 100%;
  max-height: 80px;
}

.postItem.s {
  width: 100%;
  display: flex;
  max-height: 120px;
  background-size: cover; /* 배경 이미지가 요소 크기에 맞게 꽉 차게 */
  background-position: center; /* 이미지를 요소의 가운데에 배치 */
  background-repeat: no-repeat; /* 이미지 반복하지 않음 */
  color: black; /* 배경 이미지 위에 텍스트가 보이도록 텍스트 색상 설정 */
  padding-top: 100px; /* 텍스트가 배경 이미지 위에 잘 보이도록 적절한 padding 설정 */
  background-image: var(--backgroundImage); /* CSS 변수로 배경 이미지 설정 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: left; /* 수평 중앙 정렬 */
  text-align: left; /* 텍스트가 중앙 정렬되도록 */
}

.postItem.xs {
  width: 100%;
  max-height: 100px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain; /* 이미지를 카드 크기에 맞게 자르기 */
  border-radius: 8px;
  margin-top: 10px;
  max-width: 100%;
}

/* 'xl' 사이즈 포스트 카드 이미지 */
.postItem.xl .image {
  max-height: 300px; /* 최대 높이를 설정 */
  object-fit: cover; /* 이미지를 카드 크기에 맞게 잘라서 채움 */
}

/* 'l' 사이즈 포스트 카드 이미지 */
.postItem.l .image {
  max-height: 250px; /* 최대 높이 설정 */
  object-fit: contain; /* 비율을 유지하며 이미지를 자르지 않음 */
}

/* 'm' 사이즈 포스트 카드 이미지 */
.postItem.m .image {
  max-height: 200px; /* 최대 높이 설정 */
  object-fit: cover; /* 카드 크기에 맞게 자르기 */
}

/* 's' 사이즈 포스트 카드 이미지 */
.postItem.s .image {
  display: none; /*s사이즈에서는 이미지 숨김*/
}

.postItem.s .description {
  display: none;
}
