/* 포스트 카드가 가로로 배치되도록 grid 사용 */
.postGridRow {
  display: grid;
  gap: 13px; /* 카드 사이의 간격 */
}

/* xs 사이즈에서는 3개의 카드가 한 줄에 배치 */
.postGrid.xs .postGridRow {
  grid-template-columns: repeat(3, 1fr); /* 3개 컬럼 */
}

/* s 사이즈에서는 2개의 카드가 한 줄에 배치 */
.postGrid.s .postGridRow {
  grid-template-columns: repeat(2, 1fr); /* 2개 컬럼 */
}

/* m, l, xl 사이즈에서는 1개의 카드만 한 줄에 배치 */
.postGrid.m .postGridRow,
.postGrid.l .postGridRow,
.postGrid.xl .postGridRow {
  grid-template-columns: 1fr; /* 1개 컬럼 */
}

.noPostsMessage {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px dashed #ddd;
  border-radius: 10px;
  text-align: center;
  color: #aaa;
  font-size: 16px;
}

.noPostsMessage p {
  margin: 0;
}
